@import '../../assets/_variables.scss';

.spacing-demo-styles {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  .wrapper {
    background: $app-primary-color;
    display: flex;
  }
  .target {
    background: #ddd;
  }
}
