.input-demo {
  .input-wrap {
    align-items: center;
    display: flex;
  }
  .label {
    min-width: 5rem;
  }
  .el-input {
    max-width: 15rem;
  }
}
.future-use-input-demo {
  .el-select .el-input {
    width: 110px;
  }
  .el-input {
    max-width: 20rem;
  }
}
