.el-table {
  &__fixed-body-wrapper {
    td:first-child .cell {
      padding-right: 2.5rem;
    }
  }
  td {
    vertical-align: top;
  }
  .cell {
    padding-left: 1rem;
    padding-right: 1rem;
    word-break: normal
  }
}
