@import './_variables';

body {
  background-color: #F7FAFF;
  font-family: $font-family;
  line-height: 1.5rem;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  line-height: 2.75rem;
  padding: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2.25rem;
  margin: 0 0 1rem;
  padding: 0;
}

h3, h4 {
  font-size: 1;
  font-weight: 500;
  line-height: 1.875rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

h5, h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.75rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

a {
  color: $app-primary-color;
  &:not(.underline) {
    text-decoration: none;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1rem;
}

hr {
  margin: 0 0 1rem;
}

input {
  color: $input-text;
  font-family: $font-family;
  font-size: inherit;
}

.btn-link {
  display: inline-block;
  text-decoration: none;;
}

.nav1 {
  font-size:16px;
  line-height:32px;
  font-weight:500;
  color: $darkBlue;
}

.nav2 {
  font-size:14px;
  line-height:32px;
  font-weight:500;
  color: $darkBlue;
}

.nav5 {
  font-size:12px;
  line-height:24px;
  font-weight:400;
  color: $cochlear;
}

.nav6 {
  font-size:12px;
  line-height:24px;
  font-weight:400;
  color: $darkBlue;
}
