@import './_variables';

body {
  font-family:$font-family;
  font-size:1rem;
  line-height:1.5rem;
  font-weight:400;
  color:$grey;
  margin:0;
}

.heading1 {
  font-size:2rem;
  font-weight:500;
  line-height:2.75rem;
  color:$grey;
}

.heading2 {
  font-size:1.5rem;
  font-weight:500;
  line-height:2.25rem;
  color:$grey;
}

.heading3 {
  font-size:1rem;
  font-weight:500;
  line-height:1.875rem;
  color:$grey;
}

.nav1 {
  font-size:1rem;
  font-weight:500;
  line-height:2rem;
  color:$darkBlue;
}

.nav2 {
  font-size:.875rem;
  font-weight:500;
  line-height:2rem;
  color:$darkBlue;
}

.nav3 {
  font-size:.875rem;
  font-weight:500;
  line-height:1rem;
  color:$darkBlue;
}

.nav4 {
  font-size:.875rem;
  font-weight:500;
  line-height:1rem;
  color:$darkBlue;
}

.nav5 {
  font-size:.75rem;;
  font-weight:400;
  line-height:1.5rem;
  color:$cochlear;
}

.nav6 {
  font-size:.75rem;;
  line-height:1.5rem;
  font-weight:400;
  color:$darkBlue;
}

.body1 {
  font-size:1rem;
  line-height:1.5rem;
  font-weight:400;
  color:$grey;
}

.body2 {
  font-size:1rem;
  line-height:1.5rem;
  font-weight:400;
  color:$cochlear;
}

.body4 {
  font-size:.875rem;
  line-height:1.25rem;
  font-weight:400;
  color:$lightGrey;
}

.label1 {
  font-size:.875rem;
  line-height:1.5rem;
  font-weight:400;
  color:$grey;
}

.label2 {
  font-size:.875rem;
  line-height:1.5rem;
  font-weight:500;
  color:$grey;
}

.label3 {
  font-size:.875rem;
  line-height:1.5rem;
  font-weight:500;
  color:$darkBlue;
}

.label4 {
  font-size:1rem;
  line-height:1.5rem;
  font-weight:600;
  color:$grey;
}

.tab1 {
  font-size:1.125rem;;
  line-height:1.5rem;
  font-weight:500;
  color:$purple;
}

.tab2 {
  font-size:1.125rem;;
  line-height:1.5rem;
  font-weight:400;
  color:$grey;
}

.tab3 {
  font-size:1.125rem;;
  line-height:1.5rem;
  font-weight:500;
  color:$cochlear;
  background-color:$darkBlue;
}

.tab4 {
  font-size:1.125rem;;
  line-height:1.5rem;
  font-weight:400;
  color:$cochlear;
  background-color:$darkBlue;
}

.tab5 {
  font-size:1rem;
  line-height:1.5rem;
  font-weight:500;
  color:$purple;
}

.link1 {
  font-size:1rem;
  line-height:1.5rem;
  font-weight:500;
  color:$purple;
}

.link1:hover {
  text-decoration:underline;
}

.highlighted {
  background-color:#D8D8D8;
}

.link2 {
  font-size:1rem;
  line-height:1.5rem;
  font-weight:400;
  color:$purple;
}

.link2:hover {
  text-decoration:underline;
}

.link3 {
  font-size:1rem;
  line-height:1.5rem;
  font-weight:400;
  color:$grey;
}

.link3:hover {
  text-decoration:underline;
}

.link4 {
  font-size:1.5rem;
  line-height:2rem;
  font-weight:400;
  color:$cochlear;
  text-decoration:underline;
}

.link4:hover {
  color:$lineColor1;
  text-decoration:underline;
}
