// Primary colors
$purple: #8300BF;
$darkBlue: #24245B;
$grey: #303133;

// Secondary colors
$lightPurple: #BC00FC;
$blue: #0026FF;

// Status colors
$success: #5e9f69;
$warning: #FF8400;
$danger: #b51d09;

// Text colors
$neutralGrey: #616161;
$mediumGrey: #606266;
$lightGrey: #909399;

// Line colors
$lineColor1: #DCDFE6;
$lineColor2: #E4E7ED;

// Background colors
$background: #F5F7FA;
$cochlear: #FFFFFF;

//Search box colors
$darkGrey: #606266;

$app-primary-color: $purple;
$app-secondary-color: $darkBlue;
$text-color: $grey;
$input-text: $grey;

$system-font:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
$font-family: 'Asap', sans-serif;

// Viewport Sizes
$viewport-sm: 20rem;
$viewport-md: 47rem;
$viewport-lg: 64rem;
$viewport-xlg: 120rem;
