@import 'https://fonts.googleapis.com/css?family=Asap:400,400i,500,600,700&display=swap';

@import '_variables';

/* icon font path, required */
$--color-primary: $app-primary-color;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import './components/_el-input';
@import './components/_el-select';
// @import './components/_el-dialog';
// // @import './components/_el-message';
@import './components/_el-button';
@import './components/_el-tooltip';
// @import './components/_el-tag';
@import './components/_table';
// @import './components/_pagination';
// // @import './_transitions';
@import '_base';
@import '_grid';
@import './spacing';
@import '_icons';

